.App{text-align:center}


.kMCvzj{background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%); }

.gNketA{background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%); }

body{background:url(https://i.pinimg.com/originals/52/9b/ff/529bffe740f0de3e06867b1b8aabc4b8.jpg);background-size: cover;}


.gNketA button{ background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%); margin: 10px; padding: 15px 45px; text-align: center; text-transform: uppercase; transition: 0.5s; background-size: 200% auto; color: white; box-shadow: 0 0 20px #eee; border-radius: 10px; display: block; } .gNketA button:hover { background-position: right center; /* change the direction of the change here */ color: #fff; text-decoration: none; }

.gNketA button{ background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%); margin: 10px; padding: 15px 45px; text-align: center; text-transform: uppercase; transition: 0.5s; background-size: 200% auto; color: white; box-shadow: 0 0 20px #eee; border-radius: 10px; display: block; } .gNketA button:hover { background-position: right center; /* change the direction of the change here */ color: #fff; text-decoration: none; }

.kMCvzj button{ background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%); margin: 10px; padding: 15px 45px; text-align: center; text-transform: uppercase; transition: 0.5s; background-size: 200% auto; color: white; box-shadow: 0 0 20px #eee; border-radius: 10px; display: block; } .kMCvzj button:hover { background-position: right center; /* change the direction of the change here */ color: #fff; text-decoration: none; }



css-1f6ngd1{opacity:0}
.css-1f6ngd1{opacity:0}
MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 css-1udb513{opacity:0}
css-1udb513{opacity:0}
.css-1udb513{opacity:0}

button{ background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%); margin: 10px; padding: 15px 45px; text-align: center; text-transform: uppercase; transition: 0.5s; background-size: 200% auto; color: white; box-shadow: 0 0 20px #eee; border-radius: 10px; display: block; } button:hover { background-position: right center; /* change the direction of the change here */ color: #fff; text-decoration: none; }

body{text-shadow: 3px 3px 10px black;cursive}
body button{ background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%); margin: 10px; padding: 15px 45px; text-align: center; text-transform: uppercase; transition: 0.5s; background-size: 200% auto; color: white; box-shadow: 0 0 20px #eee; border-radius: 10px; display: block; } button:hover { background-position: right center; /* change the direction of the change here */ color: #fff; text-decoration: none; }


.sc-eCImPb dKkoen{background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%); margin: 10px; padding: 15px 45px; text-align: center; text-transform: uppercase; transition: 0.5s; background-size: 200% auto; color: white; box-shadow: 0 0 20px #eee; border-radius: 10px; display: block; } .btn-grad:hover { background-position: right center; /* change the direction of the change here */ color: #fff; text-decoration: none;}

.css-xzhep0 {margin-top: 453px;opacity: 0.95;}

body {cursor:url('https://upload.wikimedia.org/wikipedia/commons/3/33/Cartoon_space_rocket.png'), auto;}body{;margin:0;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}code{font-family:source-code-pro,Menlo,Monaco,Consolas,"Courier New",monospace}
/*# sourceMappingURL=main.6e1089bc.chunk.css.map */